In [1]:
from keras.models import Sequential
from keras.layers import Dense
import numpy

Using TensorFlow backend.

In [2]:
seed = 9
numpy.random.seed(seed)

In [3]:
from pandas import read_csv
filename = 'BBCN.csv'
dataframe = read_csv(filename)

In [4]:
array = dataframe.values

In [5]:
x = array[:,0 : 11]
y = array[:, 11]

In [6]:
dataframe.head()

,MaritalStatus,Gender,YearlyIncome,TotalChildren,NumberChildrenAtHome,EnglishEducation,HouseOwnerFlag,NumberCarsOwned,CommuteDistance,Region,Age,BikeBuyer
0,5,1,9.0,2,0,5,1,0,2,2,5,1
1,5,1,6.0,3,3,5,0,1,1,2,4,1
2,5,1,6.0,3,3,5,1,1,5,2,4,1
3,5,2,7.0,0,0,5,0,1,10,2,5,1
4,5,2,8.0,5,5,5,1,4,2,2,5,1

In [7]:
model = Sequential()
model.add(Dense(1200, input_dim=11, kernel_initializer = 'uniform', activation = 'sigmoid'))
model.add(Dense(200, kernel_initializer = 'uniform', activation = 'relu'))
model.add(Dense(100, kernel_initializer = 'uniform', activation = 'relu'))
model.add(Dense(10, kernel_initializer = 'uniform', activation = 'relu'))
model.add(Dense(1, kernel_initializer = 'uniform', activation = 'sigmoid'))

In [8]:
model.compile(loss='binary_crossentropy', optimizer ='adam', metrics = ['accuracy'])

In [9]:
model.fit(x, y,epochs = 50, batch_size = 10 )

Epoch 1/50
500/500 [==============================] - 0s - loss: 0.6931 - acc: 0.5300
Epoch 2/50
500/500 [==============================] - 0s - loss: 0.6921 - acc: 0.5340
Epoch 3/50
500/500 [==============================] - 0s - loss: 0.6918 - acc: 0.5340
Epoch 4/50
500/500 [==============================] - 0s - loss: 0.6918 - acc: 0.5340
Epoch 5/50
500/500 [==============================] - 0s - loss: 0.6897 - acc: 0.5340
Epoch 6/50
500/500 [==============================] - 0s - loss: 0.6893 - acc: 0.5340
Epoch 7/50
500/500 [==============================] - 0s - loss: 0.6886 - acc: 0.5340
Epoch 8/50
500/500 [==============================] - 0s - loss: 0.6881 - acc: 0.5340
Epoch 9/50
500/500 [==============================] - 0s - loss: 0.6888 - acc: 0.5340
Epoch 10/50
500/500 [==============================] - 0s - loss: 0.6864 - acc: 0.5340
Epoch 11/50
500/500 [==============================] - 0s - loss: 0.6836 - acc: 0.5340
Epoch 12/50
500/500 [==============================] - 0s - loss: 0.6832 - acc: 0.5380
Epoch 13/50
500/500 [==============================] - 0s - loss: 0.6755 - acc: 0.5560
Epoch 14/50
500/500 [==============================] - 0s - loss: 0.6682 - acc: 0.5860
Epoch 15/50
500/500 [==============================] - 0s - loss: 0.6689 - acc: 0.5960
Epoch 16/50
500/500 [==============================] - 0s - loss: 0.6673 - acc: 0.5880
Epoch 17/50
500/500 [==============================] - 0s - loss: 0.6590 - acc: 0.6020
Epoch 18/50
500/500 [==============================] - 0s - loss: 0.6527 - acc: 0.6020
Epoch 19/50
500/500 [==============================] - 0s - loss: 0.6545 - acc: 0.5900
Epoch 20/50
500/500 [==============================] - 0s - loss: 0.6521 - acc: 0.5820
Epoch 21/50
500/500 [==============================] - 0s - loss: 0.6486 - acc: 0.5980
Epoch 22/50
500/500 [==============================] - 0s - loss: 0.6535 - acc: 0.6020
Epoch 23/50
500/500 [==============================] - 0s - loss: 0.6454 - acc: 0.5920
Epoch 24/50
500/500 [==============================] - 0s - loss: 0.6391 - acc: 0.6060
Epoch 25/50
500/500 [==============================] - 0s - loss: 0.6409 - acc: 0.5860
Epoch 26/50
500/500 [==============================] - 0s - loss: 0.6379 - acc: 0.5980
Epoch 27/50
500/500 [==============================] - 0s - loss: 0.6349 - acc: 0.5940
Epoch 28/50
500/500 [==============================] - 0s - loss: 0.6350 - acc: 0.6000
Epoch 29/50
500/500 [==============================] - 0s - loss: 0.6288 - acc: 0.6080
Epoch 30/50
500/500 [==============================] - 0s - loss: 0.6316 - acc: 0.5980
Epoch 31/50
500/500 [==============================] - 0s - loss: 0.6337 - acc: 0.6100
Epoch 32/50
500/500 [==============================] - 0s - loss: 0.6264 - acc: 0.6040
Epoch 33/50
500/500 [==============================] - 0s - loss: 0.6264 - acc: 0.6080
Epoch 34/50
500/500 [==============================] - 0s - loss: 0.6219 - acc: 0.6100
Epoch 35/50
500/500 [==============================] - 0s - loss: 0.6239 - acc: 0.6140
Epoch 36/50
500/500 [==============================] - 0s - loss: 0.6167 - acc: 0.6100
Epoch 37/50
500/500 [==============================] - 0s - loss: 0.6120 - acc: 0.6120
Epoch 38/50
500/500 [==============================] - ETA: 0s - loss: 0.6052 - acc: 0.628 - 0s - loss: 0.6131 - acc: 0.6200
Epoch 39/50
500/500 [==============================] - 0s - loss: 0.6078 - acc: 0.6160
Epoch 40/50
500/500 [==============================] - 0s - loss: 0.6236 - acc: 0.6100
Epoch 41/50
500/500 [==============================] - 0s - loss: 0.6192 - acc: 0.6380
Epoch 42/50
500/500 [==============================] - 0s - loss: 0.6142 - acc: 0.6340
Epoch 43/50
500/500 [==============================] - 0s - loss: 0.6087 - acc: 0.6420
Epoch 44/50
500/500 [==============================] - 0s - loss: 0.6042 - acc: 0.6460
Epoch 45/50
500/500 [==============================] - 0s - loss: 0.5974 - acc: 0.6480
Epoch 46/50
500/500 [==============================] - 0s - loss: 0.5945 - acc: 0.6480
Epoch 47/50
500/500 [==============================] - ETA: 0s - loss: 0.5983 - acc: 0.651 - 0s - loss: 0.5939 - acc: 0.6500
Epoch 48/50
500/500 [==============================] - 0s - loss: 0.5975 - acc: 0.6460
Epoch 49/50
500/500 [==============================] - 0s - loss: 0.5971 - acc: 0.6440
Epoch 50/50
500/500 [==============================] - 0s - loss: 0.5978 - acc: 0.6400

In [10]:
scores = model.evaluate(x,y)
print("%s, %.2f%%" % (model.metrics_names[1], scores[1]*100))

 32/500 [>.............................] - ETA: 0sacc, 65.80%